@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #242424;
  background-color: #fbf7f4;
  text-decoration: none;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  text-transform: uppercase;
  text-decoration: none;
}

.main-header {
  color: #000000;
  background: #ffffff;
}

.navigation {
  display: flex;
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width:100%;
  max-width: 530px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  width:100%;
  max-width: 306px;
  padding: 0;
  margin-left: auto;
  list-style-type: none;
}

.navigation-user .navigation-link {
  min-width: 42px;
  min-height: 66px;
}

.navigation-link {
  display: block;
  padding: 20px 17px;
  color: #000000;
  background-color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
}

.logo {
  display: block;
  margin-right: 30px;
}

.welcome {
  margin-top: 51px;
  margin-bottom: 82px;
}


.main-container {
  flex-grow: 1;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
}

.main-inner {
  color: #000000;
  background-color: #ffffff;
}

.page-container {
  width:100%;
  max-width: 1200px;
  margin: 0 auto;
}


.main-title {
  background-image:url("../images/index/divider.svg"),
    url("../images/index/index-background-1.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, top;
  text-align: center;
}

.about-sedona {
  margin: 0 auto;
  margin-top: 63px;
  margin-bottom: 80px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.sedona-deserves-better {
  margin: 0 auto;
  margin-bottom: 31px;
  width: 100%;
  max-width: 720px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;

}

.sedona-vs-grand-canyon {
  margin: 0 auto;
  width: 100%;
  max-width: 720px;
  font-size: 22px;
  font-weight: 400;
  text-transform: none;
}

.advantages-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  color: #000000;
  text-align: center;
  list-style-type: none;
}

.advantages-item {
  width: 100%;
  max-width: 400px;
  display: block;
}

.advantages-item-wrapper {
  width:  100%;
  max-width: 400px;
}

.advantages-list li:nth-child(1) {
  color: #ffffff;
  background-color: #83b3d3;
  max-width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-content: flex-start;
}

.advantages-list li:nth-child(1)::before {
  content: '';
  background-image: url(../images/index/photo-1.jpg);
  height: 356px;
  width: calc(100% - 400px);
  display: block;
}



.advantages-list li:nth-child(2) {
  background-color: rgba(131, 179, 211, 0.12);
}


.advantages-list li:nth-child(3) {
  background-color: #ffffff;
}

.advantages-list li:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-second-wrapper {
  width: 100%;
  max-width: 400px;
}
.advantages-list li:nth-child(5) {
  display: flex;
  max-width: 100%;
  color: #ffffff;
  background-color: #83b3d3;
}

.advantages-list li:nth-child(5)::before {
  content: '';
  background-image: url(../images/index/photo-2.jpg);
  height: 356px;
  width: calc(100% - 400px);
  display: block;
}

.advantages-list li:nth-child(6) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list li:nth-child(7) {
  background-color: #ffffff;
}

.advantages-list li:nth-child(8) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-title {
  margin: 0 auto;
  margin-top: 97px;
  margin-bottom: 30px;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-order {
  margin: 0 auto;
  font-size: 18px 21px;
  font-weight: 400;
}

.advantages-description {
  width: 100%;
  max-width: 220px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 87px;
  font-size: 18px 21px;
  font-weight: 400;
}


.hotels {
  width: 1200px;
  text-align: center;
}

.hotels-search {
  margin: 0 auto;
  margin-top: 91px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotels-options {
  margin: 0 auto;
  margin-top: 29px;
  margin-bottom: 56px;
  font-size: 22px;
  font-weight: 400;
}


.newsletter {
  width: 100%;
  max-width: 1200px;
  text-align: center;
}

.newsletter-index {
  color:#ffffff;
  background-image: url(../images/index/index-background-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.newsletter-catalog {
  color:#000000;
}

.newsletter-title {
  margin: 0 auto;
  margin-top: 94px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.newsletter-description {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  margin-top: 29px;
  margin-bottom: 46px;
  font-size: 22px;
  font-weight: 400;
}

.newsletter-form {
  margin: 0 auto;
  margin-bottom: 93px;
}

.main-footer {
  color: #000000;
  background-color: #ffffff;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
}


.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-social {
  width: 100%;
  max-width: 160px;
  padding: 0;
  margin-right:  auto;
  margin-left: 72px;

}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 49px;
  margin-bottom: 53px;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 20px;
  height: 18px;
  margin-right: 29px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}


.footer-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 720px;
}


.footer-logo {
  display: block;
  width:100%;
  max-width: 160px;
  margin-right: 72px;
  margin-left: auto;
}

.footer-logo-image {
  margin-top: 42px;
  margin-bottom: 44px;
  margin-left: 45px;
}

.main-footer a {
  color: inherit;
  text-decoration: none;
}

.inner-header-title {
  margin-top: 0;
  margin-bottom: 5px;
  margin-right: 601px;;
  margin-left: 71px;
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.inner-header {
  background-image: url("../images/catalog/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 35px;
  padding-bottom: 70px;
}

.breadcrumbs {
  display: flex;
  margin-right: 1016px;;
  margin-left: 73px;
  margin-bottom: 51px;
  padding: 0;
  color: #ffffff;
  list-style-type: none;
}

.breadcrumbs-link {
  color: inherit;
}


.filter {
  display: flex;
  margin-right: 72px;
  margin-left: 71px;
  margin-bottom: 86 px;
}

.filter-form {
  display: flex;
}

.filter-title {
  margin-right: 67px;
  margin-bottom: 17px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
}

.filter-list {
  list-style-type: none;
  padding: 0;
}

.filter-item {
  margin-bottom: 13px;
  color: #ffffff;
  font-size: 18px;
  line-height: 23px;
}

.filter-wrap-button {
display: flex;
flex-direction: column;
justify-content: end;
}

.founded-hotels {
  margin-right: 192px;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.select-sorting {
  margin-right: 81px;
}

.sorting-container {
  display: flex;
  width:100%;
  max-width: 1057px;
  margin-right: 72px;
  margin-left: 71px;
  margin-top: 44px;
  margin-bottom: 53px;
}

.sorting-container a {
  color: #000000;
  text-decoration: none;
}

.button-icon {
  width: 100%;
  max-width: 48px;
  margin-right: 8px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 72px;
  padding: 0;
  list-style-type: none;
}

.catalog-item {
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 340px;
  margin-right: 18px;
  margin-bottom: 10px;
}

.catalog-item-container {
  padding: 20px;
}


.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item-link {
  text-decoration: none;
}

.catalog-item-title {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
}

.catalog-item-acommodation-type,
.catalog-item-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}


.catalog-item-favorites-button {
  text-transform: uppercase;
}

.catalog-item-rating {
  background-color: #f2f2f2;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

.show-more-button {
  display: flex;
  justify-content: center;
}

.pages {
  display:flex;
  width: 100%;
  max-width: 1056px;
  margin: 0 auto;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 14px 20px;
  color: #ffffff;
  background-color: #83b3d3;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-decoration: none;
}

.pagination-show-more {
  margin-left: auto;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.select {
  font-size: 18px;
  font-weight: normal;
  line-height: 23px;
}
